In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Final Project/Resources/cleaned_data.csv')

In [3]:
pd.set_option('display.max_columns', None)
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,20221210,1037A,BLK,2004
1,NY,PAS,51,SUBN,JEEP,20220908,1045A,GRAY,2017
2,NY,PAS,67,SUBN,TOYOT,20230120,1205P,WHITE,2021
3,NY,PAS,98,SUBN,NISSA,20230121,0535P,BLK,2002
4,FL,PAS,51,SUBN,SUBAR,20230713,0320P,GRAY,2005
5,NY,PAS,63,SUBN,CHEVR,20230103,1102A,WHT,2010
6,NY,PAS,45,SDN,NISSA,20240321,0606P,BLK,2002
7,NY,OMS,14,SDN,TOYOT,20220930,1250P,BLACK,2022
8,NY,PAS,20,SUBN,HONDA,20221205,1031A,RED,2005
9,NY,PAS,27,SDN,NISSA,20220716,0607P,BLACK,2022

In [4]:
replace =  df.mask(lambda x: x == 'BLACK', other= 'BLK')
replace.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,20221210,1037A,BLK,2004
1,NY,PAS,51,SUBN,JEEP,20220908,1045A,GRAY,2017
2,NY,PAS,67,SUBN,TOYOT,20230120,1205P,WHITE,2021
3,NY,PAS,98,SUBN,NISSA,20230121,0535P,BLK,2002
4,FL,PAS,51,SUBN,SUBAR,20230713,0320P,GRAY,2005
5,NY,PAS,63,SUBN,CHEVR,20230103,1102A,WHT,2010
6,NY,PAS,45,SDN,NISSA,20240321,0606P,BLK,2002
7,NY,OMS,14,SDN,TOYOT,20220930,1250P,BLK,2022
8,NY,PAS,20,SUBN,HONDA,20221205,1031A,RED,2005
9,NY,PAS,27,SDN,NISSA,20220716,0607P,BLK,2022

In [5]:
replace2 =  df.mask(lambda x: x == 'WHITE', other= 'WHT')
replace2.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,20221210,1037A,BLK,2004
1,NY,PAS,51,SUBN,JEEP,20220908,1045A,GRAY,2017
2,NY,PAS,67,SUBN,TOYOT,20230120,1205P,WHT,2021
3,NY,PAS,98,SUBN,NISSA,20230121,0535P,BLK,2002
4,FL,PAS,51,SUBN,SUBAR,20230713,0320P,GRAY,2005
5,NY,PAS,63,SUBN,CHEVR,20230103,1102A,WHT,2010
6,NY,PAS,45,SDN,NISSA,20240321,0606P,BLK,2002
7,NY,OMS,14,SDN,TOYOT,20220930,1250P,BLACK,2022
8,NY,PAS,20,SUBN,HONDA,20221205,1031A,RED,2005
9,NY,PAS,27,SDN,NISSA,20220716,0607P,BLACK,2022

In [26]:
car_colors = df.loc[df['Vehicle Color'].isin(["BLACK", "WHITE","BLUE", "GREY", "SILVE","ORANG","PURPL","BEIGE","GREEN","PINK"])]
car_colors.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year
2,NY,PAS,67,SUBN,TOYOT,20230120,1205P,WHITE,2021
7,NY,OMS,14,SDN,TOYOT,20220930,1250P,BLACK,2022
9,NY,PAS,27,SDN,NISSA,20220716,0607P,BLACK,2022
10,NY,PAS,20,SUBN,ME/BE,20230902,0712P,WHITE,2021
12,NY,PAS,20,SUBN,ME/BE,20240303,0156P,WHITE,2019
14,NY,PAS,68,SDN,CHEVR,20221018,0626P,SILVE,2015
15,NY,PAS,20,SDN,CHEVR,20221029,0841P,SILVE,2011
16,NY,PAS,27,SDN,VOLKS,20231007,0613P,BLACK,2018
17,NY,PAS,14,SUBN,ACURA,20220909,0940A,WHITE,2020
19,NY,PAS,68,SUBN,HONDA,20221011,1221P,BLUE,2020

In [28]:
car_colors['Vehicle Color'].unique()

array(['WHITE', 'BLACK', 'SILVE', 'BLUE', 'GREY', 'ORANG', 'PURPL',
       'BEIGE', 'GREEN', 'PINK'], dtype=object)

In [33]:
colors = {
    'WHITE': 1,
    'BLACK': 2,
    'RED': 3,
    'GREY': 4,
    'ORANG': 5,
    'PURPL': 6,
    'BEIGE': 7,
    'GREEN': 8,
    'PINK': 9,
    'BLUE': 10,
    
}

In [37]:
df['Vehicle Color'] = df['Vehicle Color'].apply(lambda x: colors[x] if (x in colors) else 9)
car_colors.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year
2,NY,PAS,67,SUBN,TOYOT,20230120,1205P,1,2021
7,NY,OMS,14,SDN,TOYOT,20220930,1250P,2,2022
9,NY,PAS,27,SDN,NISSA,20220716,0607P,2,2022
10,NY,PAS,20,SUBN,ME/BE,20230902,0712P,1,2021
12,NY,PAS,20,SUBN,ME/BE,20240303,0156P,1,2019
14,NY,PAS,68,SDN,CHEVR,20221018,0626P,9,2015
15,NY,PAS,20,SDN,CHEVR,20221029,0841P,9,2011
16,NY,PAS,27,SDN,VOLKS,20231007,0613P,2,2018
17,NY,PAS,14,SUBN,ACURA,20220909,0940A,1,2020
19,NY,PAS,68,SUBN,HONDA,20221011,1221P,10,2020