In [5]:
import pandas as pd
#original file had to be deleted
df = pd.read_csv('../Resources/Parking_Violations_Issued_-_Fiscal_Year_2023.csv')

C:\Users\hatma\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (17,18,20,22,23,29,30,31,32,36,38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
pd.set_option('display.max_columns', None)
df.head(10)

,Unnamed: 0,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Location,Violation Time,Street Name,Vehicle Color,Vehicle Year
0,0,NY,PAS,67,SDN,TOYOT,20221210,10.0,1037A,W 28TH ST,BLK,2004
1,1,NY,PAS,51,SUBN,JEEP,20220908,10.0,1045A,27TH DR,GRAY,2017
2,2,NJ,PAS,63,SDN,JEEP,0,1.0,1116A,SOUTH ST,GRAY,0
3,4,NJ,PAS,63,SDN,HYUND,0,1.0,1107A,SOUTH ST,BLUE,0
4,7,NY,PAS,67,SUBN,TOYOT,20230120,5.0,1205P,COLEMAN PLAYGROUND,WHITE,2021
5,8,NY,PAS,98,SUBN,NISSA,20230121,10.0,0535P,S/S W 28TH STREET,BLK,2002
6,9,NJ,PAS,10,SUBN,JEEP,0,6.0,0307P,WASHINGTON SQ SO,RED,0
7,10,PA,PAS,10,SUBN,NISSA,0,6.0,0225P,WASHINGTON SQUARE SO,GY,0
8,11,FL,PAS,51,SUBN,SUBAR,20230713,1.0,0320P,SOUTH ST,GRAY,2005
9,12,NY,PAS,63,SUBN,CHEVR,20230103,1.0,1102A,SOUTH ST,WHT,2010

In [3]:
len(df.index)

10224823

In [4]:
df.isna().sum()

Summons Number                              0
Plate ID                                  106
Registration State                          0
Plate Type                                  0
Issue Date                                  0
Violation Code                              0
Vehicle Body Type                       24588
Vehicle Make                             9569
Issuing Agency                              0
Street Code1                                0
Street Code2                                0
Street Code3                                0
Vehicle Expiration Date                     0
Violation Location                    4799416
Violation Precinct                          0
Issuer Precinct                             0
Issuer Code                                 0
Issuer Command                        4794498
Issuer Squad                          5147300
Violation Time                            108
Time First Observed                   9650471
Violation County                        28414
Violation In Front Of Or Opposite     4848362
House Number                          4885709
Street Name                              1167
Intersecting Street                   4710633
Date First Observed                         0
Law Section                                 0
Sub Division                             1507
Violation Legal Code                  5430323
Days Parking In Effect                4883419
From Hours In Effect                  7098254
To Hours In Effect                    7098265
Vehicle Color                          921029
Unregistered Vehicle?                10010848
Vehicle Year                                0
Meter Number                          9099206
Feet From Curb                              0
Violation Post Code                   5361242
Violation Description                  214522
No Standing or Stopping Violation    10224823
Hydrant Violation                    10224823
Double Parking Violation             10224823
dtype: int64

In [5]:
dropped_df = df.drop(['Unregistered Vehicle?', 'No Standing or Stopping Violation', 'Hydrant Violation', 'Double Parking Violation', \
                      'Issuer Precinct', 'Issuer Code', 'Issuer Command', 'Issuer Squad', 'Intersecting Street', 'Issuing Agency', \
                      'Law Section', 'Sub Division', 'Violation Legal Code', 'Violation Precinct', 'Violation Description', \
                      'Feet From Curb', 'Meter Number', 'To Hours In Effect', 'From Hours In Effect', \
                      'Violation Legal Code', 'Sub Division', 'Violation County', 'Violation In Front Of Or Opposite', 'House Number', \
                      'Violation Post Code', 'Time First Observed', 'Date First Observed', 'Street Code1', 'Street Code2', 'Street Code3',\
                      'Plate ID', 'Summons Number', 'Issue Date', 'Days Parking In Effect    '], axis = 1)

In [6]:
dropped_df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Location,Violation Time,Street Name,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,20221210,10.0,1037A,W 28TH ST,BLK,2004
1,NY,PAS,51,SUBN,JEEP,20220908,10.0,1045A,27TH DR,GRAY,2017
2,NJ,PAS,63,SDN,JEEP,0,1.0,1116A,SOUTH ST,GRAY,0
3,NY,PAS,63,SUBN,LEXUS,20230820,1.0,1052A,SOUTH ST,NaN,0
4,NJ,PAS,63,SDN,HYUND,0,1.0,1107A,SOUTH ST,BLUE,0
5,NJ,PAS,63,NaN,JEEP,0,1.0,1050A,SOUTH ST,NaN,0
6,NJ,PAS,63,NaN,HYUND,0,1.0,1101A,SOUTH ST,BLUE,0
7,NY,PAS,67,SUBN,TOYOT,20230120,5.0,1205P,COLEMAN PLAYGROUND,WHITE,2021
8,NY,PAS,98,SUBN,NISSA,20230121,10.0,0535P,S/S W 28TH STREET,BLK,2002
9,NJ,PAS,10,SUBN,JEEP,0,6.0,0307P,WASHINGTON SQ SO,RED,0

In [7]:
dropped_df.dtypes

Registration State          object
Plate Type                  object
Violation Code               int64
Vehicle Body Type           object
Vehicle Make                object
Vehicle Expiration Date      int64
Violation Location         float64
Violation Time              object
Street Name                 object
Vehicle Color               object
Vehicle Year                 int64
dtype: object

In [8]:
dropped_df = dropped_df.dropna()

In [9]:
dropped_df['Plate Type'].count()

5388336

In [13]:
#dropped_df.to_csv('Resources/cleaned_data.csv', index = True)

In [7]:
#remake dropped_df without rescanning original
dropped_df = pd.read_csv('../Resources/cleaned_data.csv')
dropped_df.head(20)

,Unnamed: 0,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Location,Violation Time,Street Name,Vehicle Color,Vehicle Year
0,0,NY,PAS,67,SDN,TOYOT,20221210,10.0,1037A,W 28TH ST,BLK,2004
1,1,NY,PAS,51,SUBN,JEEP,20220908,10.0,1045A,27TH DR,GRAY,2017
2,2,NJ,PAS,63,SDN,JEEP,0,1.0,1116A,SOUTH ST,GRAY,0
3,4,NJ,PAS,63,SDN,HYUND,0,1.0,1107A,SOUTH ST,BLUE,0
4,7,NY,PAS,67,SUBN,TOYOT,20230120,5.0,1205P,COLEMAN PLAYGROUND,WHITE,2021
5,8,NY,PAS,98,SUBN,NISSA,20230121,10.0,0535P,S/S W 28TH STREET,BLK,2002
6,9,NJ,PAS,10,SUBN,JEEP,0,6.0,0307P,WASHINGTON SQ SO,RED,0
7,10,PA,PAS,10,SUBN,NISSA,0,6.0,0225P,WASHINGTON SQUARE SO,GY,0
8,11,FL,PAS,51,SUBN,SUBAR,20230713,1.0,0320P,SOUTH ST,GRAY,2005
9,12,NY,PAS,63,SUBN,CHEVR,20230103,1.0,1102A,SOUTH ST,WHT,2010
10,13,NY,PAS,45,SDN,NISSA,20240321,45.0,0606P,PARK RD,BLK,2002
11,14,NY,OMS,14,SDN,TOYOT,20220930,100.0,1250P,B 97 ST,BLACK,2022
12,15,NY,PAS,20,SUBN,HONDA,20221205,101.0,1031A,B 125TH ST,RED,2005
13,16,FL,PAS,68,VAN,CHRYS,0,122.0,1132A,SMITH BEACH,WHT,0
14,17,NJ,PAS,68,SUBN,CHEVR,0,122.0,1135A,SMITH BEACH,WHT,0
15,18,NY,PAS,27,SDN,NISSA,20220716,123.0,0607P,WOLFES POND PARK,BLACK,2022
16,19,NY,PAS,20,SUBN,ME/BE,20230902,120.0,0712P,CLOVE LAKES PK,WHITE,2021
17,20,NY,PAS,20,SUBN,SUBAR,20240305,122.0,0235P,MIDLAND BEACH,GL,2016
18,21,NY,PAS,20,SUBN,ME/BE,20240303,122.0,0156P,MIDLAND BEACH,WHITE,2019
19,23,NY,PAS,68,SDN,CHEVR,20221018,122.0,0626P,CEDAR GROVE BEACH,SILVE,2015

In [8]:
#Vehicle Make and Body Type Encoded
make_count = dropped_df['Vehicle Make'].value_counts()
body_count = dropped_df['Vehicle Body Type'].value_counts()

In [17]:
make_count[0:50]

HONDA    619579
FORD     585397
TOYOT    550180
NISSA    405885
CHEVR    298209
ME/BE    257770
BMW      247779
JEEP     219409
FRUEH    210105
HYUND    167266
SUBAR    113429
LEXUS    111358
DODGE    110734
ACURA    110123
VOLKS    102489
AUDI      94515
KIA       92832
RAM       89073
GMC       83566
HIN       82953
MAZDA     82815
INTER     80183
INFIN     76824
ISUZU     65142
VOLVO     50830
ROVER     49692
CHRYS     49471
MITSU     39007
CADIL     35708
TESLA     34893
NS        32434
LINCO     22367
PORSC     21253
KENWO     20994
NIU       18749
MINI      18625
BUICK     15871
WORKH     13194
MERCU      8222
PETER      8098
FIAT       6456
JAGUA      6382
ALFAR      5846
UTILI      5751
SMART      5448
SATUR      4368
MASE       4334
PONTI      4258
MACK       4106
SUZUK      3239
Name: Vehicle Make, dtype: int64

In [ ]:
body_types = {
    'SUBN':0,
    '4DSD':1,
    'VAN':2,
    'DELV':3,
    'PICK':4,
    '2DSD':5,
    'TRAC':6,
    'SDN':7,
    'REFG':8,
    'TRLR':9,
    'CONV':10,
    'MOPD':11,
    'UTIL':12,
    'SEDN':13,
    'MCY':14,
    'TAXI':15,
    'BUS':16,
    'SEMI':17,
    'FLAT':18,
    'TR/C':19,
    'P-U':20,
    'DUMP':21,
    'N/S':22,
    'TOW':23,
    'BOAT':24,
    'STAK':25,
    'ATV':26,
    'H/WH':27,
    'SUV':28,
    'TRUC':29,
    'T/CR':30,
    'TANK':31,
    'FOUR':32,
    'TRK':33,
    'MOBL':34,
    'TRC':35,
    'MOT':36,
    'TRL':37,
    'TT':38,
    'SWT':39,
    'MC':40
}

make_types = {
    'HONDA':0,
    'FORD':1,
    'TOYOT':2,
    'NISSA':3,
    'CHEVR':4,
    'ME/BE':5,
    'BMW':6,
    'JEEP':7,
    'FRUEH':8,
    'HYUND':9,
    'SUBAR':10,
    'LEXUS':11
}