In [2]:
import pandas as pd
#original file had to be deleted
df = pd.read_csv('../Resources/Parking_Violations_Issued_-_Fiscal_Year_2023.csv')

C:\Users\choju\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (17,18,20,22,23,29,30,31,32,36,38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
pd.set_option('display.max_columns', None)
df.head(10)

In [ ]:
len(df.index)

In [ ]:
df.isna().sum()

In [3]:
dropped_df = df.drop(['Unregistered Vehicle?', 'No Standing or Stopping Violation', 'Hydrant Violation', 'Double Parking Violation', \
                      'Issuer Precinct', 'Issuer Code', 'Issuer Command', 'Issuer Squad', 'Intersecting Street', 'Issuing Agency', \
                      'Law Section', 'Sub Division', 'Violation Legal Code', 'Violation Precinct', 'Violation Description', \
                      'Feet From Curb', 'Meter Number', 'To Hours In Effect', 'From Hours In Effect', \
                      'Violation Legal Code', 'Sub Division', 'Violation County', 'Violation In Front Of Or Opposite', 'House Number', \
                      'Violation Post Code', 'Time First Observed', 'Date First Observed', 'Street Code1', 'Street Code2', 'Street Code3',\
                      'Plate ID', 'Summons Number', 'Issue Date', 'Days Parking In Effect    ', 'Street Name', 'Violation Location', 'Vehicle Expiration Date'], axis = 1)

In [4]:
dropped_df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,1037A,BLK,2004
1,NY,PAS,51,SUBN,JEEP,1045A,GRAY,2017
2,NJ,PAS,63,SDN,JEEP,1116A,GRAY,0
3,NY,PAS,63,SUBN,LEXUS,1052A,NaN,0
4,NJ,PAS,63,SDN,HYUND,1107A,BLUE,0
5,NJ,PAS,63,NaN,JEEP,1050A,NaN,0
6,NJ,PAS,63,NaN,HYUND,1101A,BLUE,0
7,NY,PAS,67,SUBN,TOYOT,1205P,WHITE,2021
8,NY,PAS,98,SUBN,NISSA,0535P,BLK,2002
9,NJ,PAS,10,SUBN,JEEP,0307P,RED,0

In [5]:
dropped_df.dtypes

Registration State    object
Plate Type            object
Violation Code         int64
Vehicle Body Type     object
Vehicle Make          object
Violation Time        object
Vehicle Color         object
Vehicle Year           int64
dtype: object

In [6]:
dropped_df = dropped_df.dropna()

In [8]:
drop_zero_df = dropped_df.loc[dropped_df['Vehicle Year'] != 0]
drop_zero_df = drop_zero_df.loc[drop_zero_df['Violation Code'] != 0]
drop_zero_df = drop_zero_df.loc[drop_zero_df['Violation Time'] != 0]
drop_zero_df.head(19)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,1037A,BLK,2004
1,NY,PAS,51,SUBN,JEEP,1045A,GRAY,2017
7,NY,PAS,67,SUBN,TOYOT,1205P,WHITE,2021
8,NY,PAS,98,SUBN,NISSA,0535P,BLK,2002
11,FL,PAS,51,SUBN,SUBAR,0320P,GRAY,2005
12,NY,PAS,63,SUBN,CHEVR,1102A,WHT,2010
13,NY,PAS,45,SDN,NISSA,0606P,BLK,2002
14,NY,OMS,14,SDN,TOYOT,1250P,BLACK,2022
15,NY,PAS,20,SUBN,HONDA,1031A,RED,2005
18,NY,PAS,27,SDN,NISSA,0607P,BLACK,2022
19,NY,PAS,20,SUBN,ME/BE,0712P,WHITE,2021
20,NY,PAS,20,SUBN,SUBAR,0235P,GL,2016
21,NY,PAS,20,SUBN,ME/BE,0156P,WHITE,2019
22,NY,PAS,20,SDN,LEXUS,0148P,BLK,2021
23,NY,PAS,68,SDN,CHEVR,0626P,SILVE,2015
24,NY,PAS,20,SDN,CHEVR,0841P,SILVE,2011
25,NY,PAS,27,SDN,VOLKS,0613P,BLACK,2018
26,NY,PAS,14,SUBN,ACURA,0940A,WHITE,2020
27,NY,PAS,14,SUBN,ROVER,1151A,BLK,2019

In [9]:
drop_zero_df.count()

Registration State    7659315
Plate Type            7659315
Violation Code        7659315
Vehicle Body Type     7659315
Vehicle Make          7659315
Violation Time        7659315
Vehicle Color         7659315
Vehicle Year          7659315
dtype: int64

In [11]:
drop_zero_df.to_csv('../Resources/cleaned_data.csv', index = False)

In [ ]:
#remake dropped_df without rescanning original
wip_df = pd.read_csv('../Resources/cleaned_data.csv')
wip_df.head(20)

In [ ]:
#Vehicle Make and Body Type Encoded - aw
make_count = wip_df['Vehicle Make'].value_counts()
body_count = wip_df['Vehicle Body Type'].value_counts()

In [ ]:
#encoding dicts
body_types = {
    'SUBN':0,
    '4DSD':1,
    'VAN':2,
    'PICK':3,
    'DELV':4,
    '2DSD':5,
    'REFG':6,
    'SDN':7
}

make_types = {
    'HONDA':0,
    'FORD':1,
    'TOYOT':2,
    'NISSA':3,
    'CHEVR':4,
    'ME/BE':5,
    'BMW':6,
    'JEEP':7,
    'FRUEH':8,
    'HYUND':9,
    'SUBAR':10,
    'LEXUS':11
}

In [ ]:
wip_df["body_type"] = wip_df["Vehicle Body Type"].apply(lambda x: body_types[x] if x in body_types else 8)
wip_df["make_type"] = wip_df["Vehicle Make"].apply(lambda x: make_types[x] if x in make_types else 12)

In [ ]:
drop_zero_df.to_csv('../Resources/cleaned_data.csv', index = False)