In [4]:
import pandas as pd
pd.set_option('display.max_columns', None)
df = pd.read_csv('../Resources/cleaned_data.csv')

df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,20221210,1037A,BLK,2004
1,NY,PAS,51,SUBN,JEEP,20220908,1045A,GRAY,2017
2,NY,PAS,67,SUBN,TOYOT,20230120,1205P,WHITE,2021
3,NY,PAS,98,SUBN,NISSA,20230121,0535P,BLK,2002
4,FL,PAS,51,SUBN,SUBAR,20230713,0320P,GRAY,2005
5,NY,PAS,63,SUBN,CHEVR,20230103,1102A,WHT,2010
6,NY,PAS,45,SDN,NISSA,20240321,0606P,BLK,2002
7,NY,OMS,14,SDN,TOYOT,20220930,1250P,BLACK,2022
8,NY,PAS,20,SUBN,HONDA,20221205,1031A,RED,2005
9,NY,PAS,27,SDN,NISSA,20220716,0607P,BLACK,2022