In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)
df = pd.read_csv('../Resources/cleaned_data.csv')

df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,20221210,1037A,BLK,2004
1,NY,PAS,51,SUBN,JEEP,20220908,1045A,GRAY,2017
2,NJ,PAS,63,SDN,JEEP,0,1116A,GRAY,0
3,NJ,PAS,63,SDN,HYUND,0,1107A,BLUE,0
4,NY,PAS,67,SUBN,TOYOT,20230120,1205P,WHITE,2021
5,NY,PAS,98,SUBN,NISSA,20230121,0535P,BLK,2002
6,NJ,PAS,10,SUBN,JEEP,0,0307P,RED,0
7,PA,PAS,10,SUBN,NISSA,0,0225P,GY,0
8,FL,PAS,51,SUBN,SUBAR,20230713,0320P,GRAY,2005
9,NY,PAS,63,SUBN,CHEVR,20230103,1102A,WHT,2010